@import 'bootstrap/dist/css/bootstrap';  
  .navbar-brand {
  font-size: 2rem;
  }  

  h1 {
  color: blue;
  text-align: center;
  }
  
  body {
    background-image: url("resort.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  div{
    width: 100%;
    text-align: center;
  }
  
  input[type=text] {
    border: none;
    border-bottom: 2px solid red;
  }
  
.footer {
  position: absolute;
  bottom: 0; 
  height: 60px;
  width: auto;
  background-color: brown;
  clear:both;
  padding-top:20px;
} 