<footer class="footer">
      <div class="container">
              <copyright>
                  &copy; Twitterdave <%= Time.now.year %>
              </copyright>
              
      </div>
</footer>
