<% if notice %>
    <%= notice %>
<% end %>
<% if alert %>
  <%= alert %>
<% end %>



<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="col-sm-2">
      <%=link_to image_tag("kakshi.png", alt: "logo"), '/', class: 'navbar-brand' %>
      <%=  link_to "...", '#', id: "prov", class: 'navbar-brand' %>
    </div>
  </div>
</header>